video {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  
  }

  .whowearecont {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    z-index:0;
    
  }

  .cont {
      display:flex;
      height: 100%;
      width: 100%;

  }

  /* .userpic {
    display: flex;
    height:100vh;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
  }  */
/* 
  #jeremy {
      height: 556px;
      width: 556px;
      z-index: 3;
  } */

  /* .usercontent {
      display: flex;
      height:100vh;
      width: 50%;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
  } */



  /* .waves {
    height: 25vh;
    width: 100vw;
    z-index: 3;
  } */

  .ourapp {
    width: 50vw;
  }
